@import '../variables';

.channel-index {
  position: absolute;
  top: 62px;
  left: 132px;
  background-color: $primary-color;
  width: 181px;
  min-height: 661px;

  .channel-name {
    padding: 10px;
    height: 19px;
    border-bottom: 1px solid $secondary-color;
    color: $secondary-color;
    text-align: center;

    &:hover {
      background-color: $ternary-color;
      color: $primary-color;
    }
  }

}
