@import '../variables';

.channel-index {
  position: absolute;
  top: 62px;
  left: 162px;
  background-color: lighten($primary-color, 10%);
  border-right: 1px solid $secondary-color;
  width: 0px;
  min-height: 650px;
  height: 90%;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: scroll;

  &::-webkit-scrollbar {
      display: none;
  }

  .channel-button {
    display: flex;
  }

  .channel-name {
    padding: 10px;
    height: 19px;
    width: 89%;
    margin-right: -40px;
    border-bottom: 1px solid $secondary-color;
    color: $secondary-color;
    text-align: center;

    &:hover {
      background-color: $ternary-color;
      color: $primary-color;
    }
  }

  .add-channel p {
    margin-bottom: 26px;
  }

  .channel-delete {
    padding: 10px;
    height: 19px;
    width: 10%;
  }

  .channel-delete button {
    color: #2a473b;
    font-size: 120%;
    height: 30px;
    width: 30px;
    margin-left: -10px;
    margin-top: -15px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      color: red;
    }
  }

}

.width-transition {
  width: 181px;
  transition: 1s width ease;
}

.channel-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $primary-color;
  width: 600px;
  height: 310px;
  z-index: 99;
  border: 1px solid $secondary-color;
  border-radius: 10px;

  .modal-title {
    color: white;
    margin: 15px 0px;
    padding-top: 5px;
    text-align: center;
    font-size: 23px;
    font-weight: 800;
  }

  .modal-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  form {
    height: 170px;
    width: 400px;
    padding: 10px;
    margin: 10px;
    display: flex;
    border: 1px solid $secondary-color;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  }

  .createServer {
    margin-left: 15px;
  }

  .joinServer {
    margin-left: 15px;
  }

  .subtitle {
    color: $secondary-color;
    margin: 5px 0px;
  }

  .subtext {
    color: $ternary-color;
    width: 380px;
    text-align: center;
    margin: 5px 0px;
  }

  .text-input {
    width: 380px;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: $secondary-color;
  }

  .submit {
    background-color: $ternary-color;
    min-width: 160px;
    color: white;
    border-radius: 3px;
    padding: 8px 12px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 5px;
    margin-right: -20px;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border: 1px solid $ternary-color;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    &:hover {
      background-color: darken($ternary-color, 15%);
      border-color: darken($ternary-color, 15%);
    }
  }

}
