@import '../variables';

.messages {
  position: absolute;
  top: 62px;
  left: 344px;
  background-color: lighten($primary-color, 20%);
  width: 100%;
  height: 0px;
  padding: 20px;
  overflow: scroll;
}

.message-body {
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid $ternary-color;
  width: 900px;
}

.message-input {
  background-color: white;
  z-index: 3;
  padding: 10px;
  border-radius: 15%;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.message-info {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.message-created-at {
  margin-left: 5px;
}

.message-author {
  color: $secondary-color;
  margin-top: -2px;
  margin-left: -2px;
  font-weight: 900;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.height-transition {
  height: 661px;
  transition: 1.15s height ease;
}
