@import '../variables';

.servers {
  margin-top: 62px;
  min-height: 661px;
  overflow: hidden;
  width: 131px;
  background-color: lighten($primary-color, 5%);
  border-right: 1px solid $secondary-color;

  p {
    border-bottom: 1px solid $secondary-color;
    padding: 10px;
    color: white;
    font-weight: 600;
    max-height: 40px;
    text-align: center;

    &:hover {
      background-color: $ternary-color;
      color: $primary-color;
    }
  }

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $primary-color;
  width: 600px;
  height: 500px;
  z-index: 9;
  border: 1px solid $secondary-color;
  border-radius: 10px;

  .modal-title {
    color: white;
    margin: 15px 0px;
    padding-top: 5px;
    text-align: center;
    font-size: 23px;
    font-weight: 800;
  }

  .modal-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  form {
    height: 170px;
    width: 400px;
    padding: 10px;
    margin: 10px;
    display: flex;
    border: 1px solid $secondary-color;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  }

  .createServer {
    margin-left: 15px;
  }

  .joinServer {
    margin-left: 15px;
  }

  .subtitle {
    color: $secondary-color;
    margin: 5px 0px;
  }

  .subtext {
    color: $ternary-color;
    width: 380px;
    text-align: center;
    margin: 5px 0px;
  }

  .text-input {
    width: 380px;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: $secondary-color;
  }

  .submit {
    background-color: $ternary-color;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;

    &:hover {
      background-color: darken($ternary-color, 15%);
      cursor: pointer;
    }
  }

}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
