@import '../variables';

.servers {
  margin-top: 62px;
  min-height: 661px;
  overflow: hidden;
  width: 10%;
  background-color: $primary-color;

  p {
    border-bottom: 1px solid $secondary-color;
    padding: 10px;
    color: $secondary-color;
    text-align: center;
  }
}
