// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-session-links {
  display: flex;

  > * {
    border-radius: 3px;
    padding: 8px 8px;
    margin-left: 10px;
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border: 1px solid #876b3c;
  }

  :first-child {
    background-color: #876b3c;
    min-width: 160px;
    color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    &:hover {
      background-color: #aa874c;
      border: 1px solid #aa874c;
    }
  }

  :nth-child(2) {
    transition: background-color 0.3s ease, border-color 0.3s ease;
    min-width: 100px;
    color: white;
    background-color: #378457;
    border: 1px solid #378457;
    &:hover {
      background-color: #49aa71;
      border: 1px solid #49aa71;
    }
  }

}

.session-errors li{
  background-color: #F0CCD0;
  color: #6E4348;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 80%;
  font-weight: bolder;
  line-height: 2;
}

.login-form-container {
  background-color: #416847;
  z-index: 8;
  margin: 0 auto;
  margin-top: 120px;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 8px;
  max-width: 350px;
  max-height: 420px;
  text-align: center;
  box-sizing: border-box;

  input::-webkit-input-placeholder {
    text-align: left;
  }
  input:-moz-placeholder {
    text-align: left;
  }
  input::-moz-placeholder {
    text-align: left;
  }
  input:-ms-input-placeholder {
    text-align: left;
  }

  .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.2;
    color: white;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 15px 10px 15px 25px;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    text-align: center;

    div {
      color: white;
      font-size: 150%;
      margin-right: 20px;

      &:hover {
        color: white;
        cursor: pointer;
      }
    }
  }

  input {
    padding: 12px 8px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.15);

    &:focus {
      border: 1px solid cornflowerblue;
    }
  }

  .submit-button {
    background-color: #876b3c;
    min-width: 160px;
    color: white;
    border-radius: 3px;
    padding: 8px 12px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border: 1px solid #876b3c;
    width: 100%;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    &:hover {
      background-color: #aa874c;
      border: 1px solid #aa874c;
    }
  }

  .username-password {
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    color: black;
    font-family: sans-serif;
    font-weight: lighter;

    input {
      margin-bottom: 10px;
    }
  }

  .login-form {
    padding: 20px;

    .login-input {
      box-sizing: border-box;
      width: 100%;
    }

  }

  .login-input-label {
    width: 100%;
  }

  .login-alternate > *{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-weight: lighter;
    color: white;
  }

  .login-alternate button {
    min-width: 100px;
    color: white;
    border-radius: 3px;
    padding: 8px 50px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border: 1px solid #876b3c;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    background-color: #378457;
    border: 1px solid #378457;
    &:hover {
      background-color: #49aa71;
      border: 1px solid #49aa71;
    }
  }
}
