// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../variables';

.user-card {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  width: 40%;
  border: 1px solid black;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  border-radius: 10%;
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  color: $text-color;
  width: 420px;
  height: 550px;

  .user-info{

    padding-top: 0px;
    margin-top: 0px;
    text-align: center;

    .user-info-text{
      background-color: $secondary-color;
      border: 2px solid black;
      border-radius: 20px;
      padding: 8px;

      .user-name {
        font-size: 130%;
        color: black;
        padding: 5px;
      }

      .user-bio {
        padding: 5px;
      }

      .user-interests {
        padding: 5px;
      }

    }

    .user-show-img-container{
      border: 5px solid $secondary-color;
      border-radius: 15%;
    }

    .user-show-img {
      border: 2px solid black;
      border-radius: 14%;
      height: 370px;
      width: 370px;
      padding: 0px;
      padding-bottom: 10px;
    }

    & > * {
      padding: 10px;
    }
  }
}
