
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import './variables';

body {
  background-color: $secondary-color;
}

.body {
  height: 90vh;
}

.homepage {
  width: 100%;
}

.header-logo {
  color: $logo-color;
  font-size: 200%;
  font-family: 'Cookie', cursive;
}

header {
  position: fixed;
  top: 0px;
  background-color: $primary-color;
  display: flex;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $secondary-color;
  min-height: 43px;
  z-index: 8;
}

.header-container {
  display: flex;
  width: 100%;
  min-width: 280px;
  box-sizing: border-box;
  justify-content: space-between;
}

.hamburger-bar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.header-photo-links {
  margin-right: 20px;
}

.hamburger-menu {
  position: relative;
  height: 40px;
  width: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;

  &:hover {
    border: 2px solid #0072A0;
  }

  img {
    background-position: center;
    position: center;
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 700px;
    cursor: pointer;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;

    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  }
}

html {
  position: relative;
  min-width: 100%;
  max-width: 100%;
  overflow-x:hidden
}

.errors {
  color: lightblue;
  font-weight: 750;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0px; left: 0;
  background-color: $primary-color;
  display: flex;
  z-index: 7;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid $secondary-color;
  min-height: 50px;
  max-height: 62px;

  a {
    height: 40px;
    width: 40px;
  }
}

.github {
  height: 34px;
  width: 34px;
  margin-left: 24px;
  margin-right: 24px;
  background-image: url('Github.png');
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: box-shadow 0.3s ease;
  transition: 0.4s;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  &:hover {
    transform: scale(1.2);
  }
}

.linkedin {
  height: 34px;
  width: 34px;
  margin-left: 24px;
  margin-right: 24px;
  background-image: url('Linkedin.png');
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: box-shadow 0.3s ease;
  transition: 0.4s;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  &:hover {
    transform: scale(1.2);
  }
}

.portfolio {
  height: 34px;
  width: 34px;
  margin-left: 24px;
  margin-right: 24px;
  background-image: url('Portfolio.png');
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: box-shadow 0.3s ease;
  transition: 0.4s;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
  &:hover {
    transform: scale(1.2);
  }
}

::placeholder {
  color: #8c8c8c;
  font-family: sans-serif;
  font-weight: lighter;
}

.header-photo-links {
  position: relative;
}

.dropdown {
  background-color: $ternary-color;
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 44px;
  width: 180px;
  right: -20px;
  z-index: 5;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  max-height: 300px;
  transition: max-height 300ms ease;
  transition: font-size 300ms ease;

  button {
    padding: 20px;
    display: block;
    font-size: 130%;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    width: 100%;
    &:hover {
      color: $ternary-color;
      background-color: $primary-color;
      cursor: pointer;
    }

    &:focus {
      overflow:hidden;
      max-height: 300px;
    }
  }
}

.dropdown-toggle i {
  cursor: pointer;
  position: absolute;
  margin-top: 8px;
  margin-left: -18px;
  z-index: 9;
  color: $secondary-color;
}

.hidden {
  position: absolute;
  font-size: 0px;
  max-height: 0;
  transition: max-height 300ms ease;
}

body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


.logout-button {
  background-color: #876b3c;
  min-width: 100px;
  color: white;
  border-radius: 3px;
  padding: 8px 12px;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 5px;
  margin-right: -20px;
  text-decoration: none;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: 1px solid #876b3c;
  width: 100%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  &:hover {
    background-color: #aa874c;
    border: 1px solid #aa874c;
  }
}
